@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <p>
        1) J'injecte le service<br />
        2 ?) Je l'ajoute à la configuration MVC<br />
        3) Je le configure<br />
    </p>
</div>
<div class="row">
    <div>
        @Html.Partial("TrucCool/Configuration")
    </div>
</div>

<div class="row">
    <div>
        @Html.Partial("TrucCool/Elm")
    </div>
</div>